@using DoAn_LapTrinhWeb.Models
@using PagedList
@model IPagedList<DoAn_LapTrinhWeb.Models.Product>
@{
    ViewBag.ImageURL = "/Images/ImagesCollection/san-pham.jpg";
    ViewBag.Decription = "Laptop, linh kiện, phụ kiện chính hãng";
    ViewBag.Tag = "";
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Views/Shared/Main_Layout.cshtml";
    //tính đánh giá trung bình
    var AvgFeedback = (List<DoAn_LapTrinhWeb.Model.Feedback>)ViewBag.AvgFeedback;
    //sản phẩm
    string defaultImg = "/Content/Images/no-image.jpg";
    //chuyên đổi dạng tiên tệ. get dấu chấm cho giá của sản phẩm
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<!--begin::Section -->
<div class="margin_mobile_fixed">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Breadcrumb-->
        <div class="breadcrumb1">
            <ul class="breadcrumb__list">
                <li><a href="/"><i aria-hidden="true" class="fa fa-home"></i></a> <i aria-hidden="true" class="far fa-angle-right"></i></li>
                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a> <i aria-hidden="true" class="far fa-angle-right"></i></li>
                <!--ViewBag.Type | path: action "Laptop,Accessory,Table,.." Controller "Products"-->
                <li><a>@ViewBag.Type</a></li>
            </ul>
        </div>
        <!--end::Breadcrumb-->
        <!--begin::Product List-->
        <div class="boderproductdetail">
            <div class="row pd_listproduct2">
                <!--begin::Product Filter-->
                <div class="btn-group d-flex justify-content-between mb-2">
                    <div>
                        <span class="count_product_list">@ViewBag.Type @ViewBag.Countproduct sản phẩm</span>
                        <span></span>
                    </div>
                    <!--begin::Dropdown Button-->
                    <div class="dropdown_product_list">
                        <div class="dropdown-menu dropdown-menu-end">
                            <div id="slider-range"></div>
                        </div>
                        <a href="#" class="dropdown-toggle dropdown_sort" data-bs-toggle="dropdown" aria-expanded="false">
                            @if (ViewBag.sortname == null)
                            {
                                <i class="bi bi-funnel"></i><span>Bộ lọc</span>
                            }
                            else
                            {
                                <span>Xếp theo: </span> @ViewBag.sortname
                            }
                        </a>
                        <!--begin::Dropdown Menu-->
                        <ul class="dropdown-menu dropdown-menu-end">
                            <!--begin::Dropdown Item-->
                            <li><a class="dropdown-item" href="@Url.Action(@ViewBag.UrlType,"Products", new {s=ViewBag.Search, sortOrder = ViewBag.ResetSort })">Reset bộ lọc</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="@Url.Action(@ViewBag.UrlType,"Products", new {s=ViewBag.Search, sortOrder = ViewBag.DateSortParm})">Cũ - Mới</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="@Url.Action(@ViewBag.UrlType,"Products", new {s=ViewBag.Search, sortOrder = ViewBag.BuySortParm})">Mua nhiều</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="@Url.Action(@ViewBag.UrlType,"Products", new {s=ViewBag.Search, sortOrder = ViewBag.ViewSortParm})">Xem nhiều</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="@Url.Action(@ViewBag.UrlType,"Products", new {s=ViewBag.Search, sortOrder = ViewBag.DiscountSortParm})">%Giảm</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="@Url.Action(@ViewBag.UrlType,"Products", new {s=ViewBag.Search, sortOrder = ViewBag.PriceSortParm})">Giá thấp - cao</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="@Url.Action(@ViewBag.UrlType,"Products", new {s=ViewBag.Search, sortOrder = ViewBag.NameSortParm})">Tên A - Z</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <!--begin::Dropdown Item Expand-->
                            <li class="dropdown1">
                                <a class="dropdown-item" href="#">Mức giá</a>
                                <!--begin::Dropdown Menu Expand-->
                                <ul class="dropdown-content">
                                    <!--begin::Dropdown content-->
                                    <li><a href="@Url.Action(@ViewBag.UrlType,"Products", new {s=ViewBag.Search, sortOrder = ViewBag.UnderthreeMillionSortParm })">Dưới 3 triệu</a></li>
                                    <li><a href="@Url.Action(@ViewBag.UrlType,"Products", new {s=ViewBag.Search, sortOrder = ViewBag.FromthreeToeightMillionSortParm })">Từ 3 - 8 triệu</a></li>
                                    <li><a href="@Url.Action(@ViewBag.UrlType,"Products", new {s=ViewBag.Search, sortOrder = ViewBag.FromeightTofifteenMillionSortParm })">Từ 8 - 15 triệu</a></li>
                                    <li><a href="@Url.Action(@ViewBag.UrlType,"Products", new {s=ViewBag.Search, sortOrder = ViewBag.FromfifteenTotwentyfiveMillionSortParm })">Từ 15 - 25 triệu</a></li>
                                    <li><a href="@Url.Action(@ViewBag.UrlType,"Products", new {s=ViewBag.Search, sortOrder = ViewBag.MorethantwentyfiveMillionSortParm })">Trên 25 triệu</a></li>
                                    <!--end::Dropdown content-->
                                </ul>
                                <!--end::Dropdown Menu Expand-->
                            </li>
                            <!--end::Dropdown Item Expand-->
                            <!--end::Dropdown Item-->
                        </ul>
                        <!--end::Dropdown Menu-->
                    </div>
                    <!--begin::Dropdown Button-->
                </div>
                <!--end::Product Filter-->
                <!--begin::Product Items-->
                <div class="col-12">
                    <div class="row">
                        @if (Model.Count == 0)
                        {
                            <div class="col margin_search">
                                <p class="h3 center text-danger color_text_primary">Không có sản phẩm</p>  @*nếu không có sản phẩm thì dòng này sẽ hiện lên*@
                            </div>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <div class="col-md-3 col-lg-3 col-sm-6 col-6 height_productlist margin_bottom_20_all ">
                                    <div class="product_list">
                                        <a href="/product/@item.slug">
                                            <div class="product_img">
                                                <img class="img-responsive" src="@(item.image != null ? item.image : defaultImg)" alt="@item.product_name">
                                                @if (item.Discount != null)
                                                {
                                                    if (item.Discount.discount_start < DateTime.Now && item.Discount.discount_end > DateTime.Now && item.Discount.status.Trim() == "1")
                                                    {
                                                        <div class="discount-tag">
                                                            <div class="pd-discount-tag color-less25percent">
                                                                <div class="tag-title">
                                                                    Tiết kiệm
                                                                </div>
                                                                <div class="discount-price-tag">
                                                                    @item.Discount.discount_price.ToString("#,###₫", culture.NumberFormat)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="product_detail_btm">
                                                <div class="center">
                                                    <p class="limitlinetext color_text_primary">
                                                        @item.product_name
                                                    </p>
                                                </div>
                                                <!--end:Product Name-->
                                            </div>
                                        </a>
                                        <div class="product_detail_btm">
                                            <!--begin:Product Star-->
                                            @{ double onestar = 1; int c_ontstar = 0; double truestar = 2; int c_truestar = 0;
                                                double threestar = 3; int c_threestar = 0; ; double fourstar = 4; int c_fourstar = 0;
                                                double fivestar = 5; int c_fivestar = 0; int totalrating = 0;
                                                foreach (var avg in AvgFeedback)
                                                {

                                                    if (avg.product_id == item.product_id && avg.status == "2" && avg.parent_feedback_id == 0)
                                                    {
                                                        totalrating++;
                                                        if (avg.rate_star == 1)
                                                        {
                                                            c_ontstar++;
                                                        }
                                                        if (avg.rate_star == 2)
                                                        {
                                                            c_truestar++;
                                                        }
                                                        if (avg.rate_star == 3)
                                                        {
                                                            c_threestar++;
                                                        }
                                                        if (avg.rate_star == 4)
                                                        {
                                                            c_fourstar++;
                                                        }
                                                        if (avg.rate_star == 5)
                                                        {
                                                            c_fivestar++;
                                                        }
                                                    }
                                                }
                                                if ((((onestar * c_ontstar / totalrating) + (truestar * c_truestar / totalrating) +
                                                (threestar * c_threestar / totalrating) + (fourstar * c_fourstar / totalrating) +
                                                (fivestar * c_fivestar / totalrating)) >= 1) && (((onestar * c_ontstar / totalrating) +
                                                (truestar * c_truestar / totalrating) + (threestar * c_threestar / totalrating) +
                                                (fourstar * c_fourstar / totalrating) + (fivestar * c_fivestar / totalrating)) < 2))
                                                {
                                                    <div class="starratin">
                                                        <div class="center">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            @for (int i = 1; i < 5; i++)
                                                            {
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                                else if ((((onestar * c_ontstar / totalrating) + (truestar * c_truestar / totalrating) +
                                                (threestar * c_threestar / totalrating) + (fourstar * c_fourstar / totalrating) +
                                                (fivestar * c_fivestar / totalrating)) >= 2) && (((onestar * c_ontstar / totalrating) +
                                                (truestar * c_truestar / totalrating) + (threestar * c_threestar / totalrating) +
                                                (fourstar * c_fourstar / totalrating) + (fivestar * c_fivestar / totalrating)) < 3))
                                                {
                                                    <div class="starratin">
                                                        <div class="center">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            @for (int i = 1; i < 4; i++)
                                                            {
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                                else if ((((onestar * c_ontstar / totalrating) + (truestar * c_truestar / totalrating) +
                                                 (threestar * c_threestar / totalrating) + (fourstar * c_fourstar / totalrating) +
                                                 (fivestar * c_fivestar / totalrating)) >= 3) && (((onestar * c_ontstar / totalrating) +
                                                 (truestar * c_truestar / totalrating) + (threestar * c_threestar / totalrating) +
                                                 (fourstar * c_fourstar / totalrating) + (fivestar * c_fivestar / totalrating)) < 4))
                                                {
                                                    <div class="starratin">
                                                        <div class="center">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            @for (int i = 1; i < 3; i++)
                                                            {
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                                else if ((((onestar * c_ontstar / totalrating) + (truestar * c_truestar / totalrating) +
                                                 (threestar * c_threestar / totalrating) + (fourstar * c_fourstar / totalrating) +
                                                 (fivestar * c_fivestar / totalrating)) >= 4) && (((onestar * c_ontstar / totalrating) +
                                                 (truestar * c_truestar / totalrating) + (threestar * c_threestar / totalrating) +
                                                 (fourstar * c_fourstar / totalrating) + (fivestar * c_fivestar / totalrating)) < 5))
                                                {
                                                    <div class="starratin">
                                                        <div class="center">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            @for (int i = 1; i < 2; i++)
                                                            {
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                                else if (((onestar * c_ontstar / totalrating) + (truestar * c_truestar / totalrating) +
                                                   (threestar * c_threestar / totalrating) + (fourstar * c_fourstar / totalrating) +
                                                   (fivestar * c_fivestar / totalrating)) == 5)
                                                {
                                                    <div class="starratin">
                                                        <div class="center">
                                                            @for (int i = 1; i <= 5; i++)
                                                            {
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="starratin">
                                                        <div class="center">
                                                            @for (int i = 1; i <= 5; i++)
                                                            {
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                            }
                                                        </div>
                                                    </div>
                                                }

                                            }
                                            <!--end:Product Star-->
                                            <!--begin:Product Price-->
                                            <div class="product_price">
                                                <p>
                                                    @if (item.Discount != null)
                                                    {
                                                        if (item.Discount.discount_start < DateTime.Now && item.Discount.discount_end > DateTime.Now && item.Discount.status.Trim() == "1")
                                                        {
                                                            <span class="old_price">@item.price.ToString("#,###₫", culture.NumberFormat)</span> <span class="new_price">@((item.price - item.Discount.discount_price).ToString("#,###₫", culture.NumberFormat))</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="new_price">@item.price.ToString("#,###₫", culture.NumberFormat)</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span class="new_price">@item.price.ToString("#,###₫", culture.NumberFormat)</span>
                                                    }
                                                </p>
                                            </div>
                                            <!--end:Product Price-->
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!--end::Product Items-->
                <!--begin::Pagination-->
                <div>
                    @if (ViewBag.Countproduct > 12)
                    {
                        @Html.Partial("Pager", Model)
                    }
                </div>
                <!--end::Pagination-->
            </div>
            <!--begin::Product List-->
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Section-->
