@model DoAn_LapTrinhWeb.Models.ResetPassword
@section scripts{
    <script src="~/Scripts/my_js/show_hide_password.js"></script>
}
@using (Html.BeginForm("Resetpassword", "Account", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <!--begin::Row-->
        <div class="row justify-content-sm-center h-100">
            <!--begin::Col-->
            <div class="col-lg-5 col-xl-4 col-md-6 col-12">
                <!--begin::Card-->
                <div class="boder_account">
                    <!--begin::Card Body-->
                    <div class="card-body">
                        <p class="card-title h4 mb-2 center text-uppercase font_family_ChakraPetch_semibold">Cập nhật mật khẩu</p>
                        <!--begin::Form-->
                        <form method="POST">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(a => a.ResetCode)
                            <!--begin::Input Form Group-->
                            <div class="w-100">
                                <!--begin:label-->
                                <label class="mb-1 text-muted" for="password">Mật khẩu mới</label>
                                <!--end:label-->
                            </div>
                            <div class="form-group mb-2 show_pass position-relative">
                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control col-lg-11", id = "passwordnew" } })
                                <span toggle="#passwordnew" class="col-lg-1 d-flex justify-content-end field-icon toggle-password"><span class="material-icons">visibility</span></span>
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>
                            <!--end::Input Form Group-->
                            <!--begin::Input Form Group-->
                            <div class="w-100">
                                <!--begin:label-->
                                <label class="mb-1 text-muted" for="password">Xác nhận mật khẩu</label>
                                <!--end:label-->
                            </div>
                            <div class="form-group show_pass mb-2 position-relative">
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control col-lg-11", id = "confirmpassword" } })
                                <!--class="toggle-password" | path:Scripts/my_js/show_hide_password.js-->
                                <span toggle="#confirmpassword" class="col-lg-1 d-flex justify-content-end field-icon toggle-password"><span class="material-icons">visibility</span></span>
                                <!-- kiểm tra password có trung với new password nhập ở trên không -->
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <!--end::Input Form Group-->
                            <!--begin::Action-->
                            <div class="center mb-4">
                                <!--begin::Button-->
                                <button type="submit" class="btn bg-button w-100">Xác nhận</button>
                                <!--end::Button-->
                            </div>
                            <!--end::Action-->
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Card Body-->
                </div>
                <!--end::Card-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>
}